body {
  margin: 0%;
}
.box {
  border: 2px solid black;
  background-color: black;
  border-bottom: 5px solid rgb(88, 90, 94);
}
.nav {
  display: inline;
  margin: 0%;
  padding: 10px;
}
h1 {
  font-family: "Silkscreen", cursive;
  color: white;
  margin-left: 2%;
  display: inline-block;
}
a {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 130%;
  margin-top: 27px;
  padding-left: 7%;
  margin-right: 35px;
  float: right;
}
a:hover {
  color: aquamarine;
}
p {
  font-size: 30px;
}
.about {
  margin-left: 9%;
  margin-top: 11%;
  width: 610px;
}
.profile {
  float: right;
  margin-top: 6%;
  margin-right: 8%;
}
img {
  border: 5px solid rgb(88, 90, 94);
  height: 440px;
  border-radius: 20px;
  position: relative;
}
.framebot {
  position: absolute;
  border-radius: 20px;
  border: 5px solid rgb(88, 90, 94);
  height: 440px;
  width: 440px;
  bottom: 68px;
  right: 75px;
}
